.main-container {
    padding: 2rem;
    align-content: center;
}

.listing-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.listing-card {
    width: 18rem;
}

