.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 18rem);
    justify-content: center;
    column-gap: 2rem;
    row-gap: 2rem;
}

.product-card {
    width: 18rem;
}

.product-image {
    height: 14rem;
    object-fit: cover;
}

.pagination {
    margin: 2rem;
    justify-content: center;
}

.empty-message {
    text-align: center;
    padding: 2rem;
}